---
---

<nav nav-bar-container>
    <div class="logo-container">
        <img src="" alt="">
    </div>

    <div class="search-container">
        <form action="
        "></form>
        <input type="text" placeholder="Buscar por ingredientes" >
    </div>
    

</nav>