---
---

<nav nav-bar-container>
    <div class="logo-container">
        <img src="" alt="">
    </div>

    <div class="search-container">
        <form class="search-container" action="">
            div
            <input type="text" placeholder="Buscar por ingredientes" >

        </form>
    </div>
    

</nav>